@font-face {
    font-family: 'Pattaya-Regular';
    src: url('fonts/Pattaya/Pattaya-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agbalumo-Regular';
    src: url('fonts/Agbalumo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}